body {
    background-image: url("assets/png/gradient.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-size: 80px;
    margin-top: 10%;
}

p {
    font-size: 30px;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    text-align: center;
    padding: 15px 20px;
    font-size: 22px;
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
}

a:hover {
    background-color: white;
    color: royalblue;
}